$space: 10px;

.unit { float: left }

.line { width: 100% }

.size1of10 { width: 10% }
.size2of10 { width: 20% }
.size8of10 { width: 80% }
.size9of10 { width: 90% }

.inner { padding: $space }
.horizontal-inner { 
  padding-left: $space; 
  padding-right: $space; 
}
.bottom-inner { padding-bottom: 5 * $space }
.left-inner { padding-left: 2 * $space }